<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
<title>About</title>
</head>
{% include 'navbar.html' %}
  <body>
    <div class="container-fluid about-container">
      <div class="wrapper">
        <p class="text-center about">
          About the Data set
        </p>
        <div class="row customization">

          <div class="col-sm-4">
            <div class="about-group processing-about">
              <h4>
                <i class="fa fa-spinner" aria-hidden="true"></i> Processing
              </h4>
              <ul>
                <li>
                  Years between 1999 and 2002 were removed during pre-processing to
                  provide a tighter data set
                </li>
                <li>
                  Column 113_cause_name removed during pre-processing as it provided
                  redundant information
                </li>
                <li>
                  Items with a death count in the range [0, 20) have a not applicable
                  age adjusted death rate
                </li>
              </ul>
              <p>
                Please note that items involving totals, such as 'All Causes'
                and 'United States', were not included in pivot table calculations
            </div>
          </div>

          <div class="col-sm-4">
            <div class="about-group Definitions-about">
              <h4>
                <i class="fa fa-book" aria-hidden="true"></i> Definitions
              </h4>
              <p>
                <b>Year - </b>Specific year, spanning from 2003 until 2013
              </p>
              <p>
                <b>Cause Name - </b>Specific cause, within the top 10 leading causes of
                death in the United States over the specified range of years
              </p>
              <p>
                <b>State - </b>Specific state of residence in the specified year,
                within the United States
              </p>
              <p>
                <b>Deaths - </b>Number of deaths, in the specified state and time period
              </p>
              <p>
                <b>Age Adjusted Death Rate - </b>Rate that would have existed if the
                population under study had the same age distribution as the "standard"
                population, a summary measure adjusted for differences in age distributions.
              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="about-group source-about">
              <h4>
                <i class="fa fa-globe" aria-hidden="true"></i> Source
              </h4>
              <p>
                Age-adjusted death rates for the top 10 leading causes of death in the
                United States, including mortality patterns from 1999 through 2013, and
                by state of residence for selected year and cause of death.
              </p>
              <p>
                This data set was accessed from data.gov, the home of the United States Government's open data.
              </p>
              <a href="https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013">
              <u>Access this data set from data.gov</u>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
