<!DOCTYPE html>
<html>
  <head>
    <title>Our Findings</title>
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/findings.css') }}">

  <body>
    <div class="wrapper">
      <p class="title">Our Findings</p>
      </br></br>

<!-- map
      <div id="container3"></div>
      <script type="text/javascript" src="../static/visualisations/map-us.js"></script>
    </br></br>-->

      <!-- VISUALISATION 1: Pie-graph -->
      <div class="row pie-row">
        <div class="col-sm-6">
          <div id="container2"></div>
        </div>
        <div class="col-sm-6 para-col">
          <div class="primary">Over 25% of all deaths in the US are heart related</div>
          <script type="text/javascript" src="../static/visualisations/pie.js"></script>
        </div>
      </div>
      </br></br>

      <!-- VISUALISATION 2: Bar-graph negative -->
      <div class="row negative-row">
        <div class="col-sm-5 para-col">
          <div class="primary"> title here</div>
        </div>
        <div class="col-sm-7">
          <div id="container0"></div>
          <script type="text/javascript" src="../static/visualisations/bar-negative.js"></script>
        </div>
      </div>
      </br></br>



      <!-- VISUALISATION 3: Bar-graph basic-->
      <div class="row basic-row">
        <div class="col-sm-7">
          <div id="container1"></div>
          <script type="text/javascript" src="../static/visualisations/bar-basic.js"></script>
        </div>
        <div class="col-sm-5 para-col">
          <div class="primary"> title here</div>
        </div>
      </div>  
      </br></br>
    </div>
  </body>
</html>
