<!DOCTYPE html>
<html>
   <head>
    <title>Pivot Table</title>
  </head>

  <body>
    <p>
      "Pivot Table"
    </p>
    <p id="demo"></p>
  </body>
  <script>

  var xmlhttp = new XMLHttpRequest();
  var url = "jsondata.json";
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myObj = JSON.parse(this.responseText);
        document.getElementById("demo").innerHTML = myObj.AADR;
    }
  };
  xmlhttp.open("GET", url, true);
  xmlhttp.send();


  </script>
</html>
