<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
</head>

{% include 'navbar.html' %}

<!-- JAVASCRIPT -->
<script type="text/javascript">
//diable already checked column
$(document).ready(function () {
    $('#year1').click(function() {
      checked3 = $("input[type=checkbox][id=year1]:checked").length;
      if(checked3) {
        document.getElementById("year2").disabled = true;
      }
    });
});
$(document).ready(function () {
    $('#cause1').click(function() {
      checked3 = $("input[type=checkbox][id=cause1]:checked").length;
      if(checked3) {
        document.getElementById("cause2").disabled = true;
      }
    });
});

//index  and value form alert
$(document).ready(function () {
    $('#checkBtn').click(function() {
      checked2 = $("input[type=checkbox][class=form-check-input2]:checked").length;
      checked1 = $("input[type=checkbox][class=form-check-input1]:checked").length;
      if(!checked2) {
        alert("You must pick at least one INDEX and one VALUE.");
        return false;
      }
      if(!checked1) {
        alert("You must pick at least one INDEX and one VALUE.");
        return false;
      }
    });
});

</script>

<!-- HTML-->

<body>
<div class="container-fluid background">
  <div class="wrapper">
    <p class="text-center form-title">
      Build your own pivot table!
    </p>

<!-- Start of form -->
    <form action="/pivottable_results" method="get">
        <div class="row">
          <div class="col-sm-4">
            <!-- Start of index group -->
            <div class="form-group index-form">
              <h4>Pick Index*
                <span>
                  <a class="tooltip-right" href="#" data-tooltip="Pick at least one, can't be the same as a column."> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                </span>
              </h4>
                <input id="year1" class="form-check-input1" type="checkbox" name="index_y" value="YEAR"> &nbsp; Year
                </br></br>
                <input id="cause1" class="form-check-input1" type="checkbox" name="index_c" value="CAUSE_NAME"> &nbsp; Cause of death
                </br></br>
                <input class="form-check-input1" type="checkbox" name="index_s" value="STATE" > &nbsp; State
            </div>
            <!-- End of index group -->
          </div>
          <div class="col-sm-4">
            <!-- Start of Values group -->
            <div class="form-group values-form">
              <h4>Pick value*
                <span>
                  <a class="tooltip-right" href="#" data-tooltip="Pick at least one."> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                </span>
              </h4>
                <input class="form-check-input2" type="checkbox" name="value_d" value="DEATHS"> &nbsp; Deaths
                </br></br>
                <input class="form-check-input2" type="checkbox" name="value_a" value="AADR"> &nbsp; AADR
                </br>
                <h5>Value type</h5>
                    <select class="form-control" name="aggfunc">
                      <option value="np.mean">Average</option>
                      <option value="np.sum">Total</option>
                    </select>
            </div>
            <!-- End of Values group -->
          </div>
          <div class="col-sm-4">
            <!-- Start of columns group -->
            <div class="form-group columns-form">
              <h4>Pick column
                <span>
                  <a class="tooltip-right" href="#" data-tooltip="Optional, can't be the same as Index."> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                </span>
              </h4>
              <div class="form-check">
                <input id="year2" class="form-check-input" type="checkbox" name="column_y" value="YEAR"> &nbsp; Year
                </br></br>
                <input id="cause2" class="form-check-input" type="checkbox" name="column_c" value="CAUSE_NAME"> &nbsp; Cause of death
              </div>
            </div>
            <!-- End of columns group -->
          </div>
        </div>
        <div class="row">
              <!-- Start of filter-->
              <div class="form-group filter-form">
                <h4> Add Filter
                  <span>
                    <a class="tooltip-right" href="#" data-tooltip="Optional, pick up to 3."> <i class="fa fa-info-circle" aria-hidden="true"></i> </a>
                  </span>
                </h4>
                <div class="col-sm-4">
                  <select class="form-control filter-year" name="filter_y">
                    <option value="" selected disabled>Year</option>
                    <option value="">2003</option>
                    <option value="">2004</option>
                    <option value="">2005</option>
                    <option value="">2006</option>
                    <option value="">2007</option>
                    <option value="">2008</option>
                    <option value="">2009</option>
                    <option value="">2010</option>
                    <option value="">2011</option>
                    <option value="">2012</option>
                    <option value="">2013</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control filter-cause" name="filter_c">
                    <option value="" selected disabled>Cause of Death</option>
                    <option value="">Alzheimers disease</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control filter-state" name="filter_s">
                    <option value="" selected disabled>State</option>
                    <option value="">Alabama</option>
                  </select>
                </div>
              </div>
              <!-- End of filter-->
            </div>
        </div>
        <div class="row button-row">
          <!-- Submit Button -->
          <button id="reset" class="btn btn-danger btn-lg reset-button" type="reset" value="Reset">Reset</button>
          <input class="btn btn-primary btn-lg create-button" type="submit" value="Create Pivot Table" id="checkBtn">
        </div>
    </form>
  </div>
</div>
<!-- End of form -->
</body>
</html>
