
.index-form{
  max-width: 100%;
	height: 200px;
  padding: 15px 35px 15px;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;
	}

.values-form{
  max-width: 100%;
	height: 200px;
  padding: 15px 35px 15px;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;
	}

.columns-form{
  max-width: 100%;
	height: 200px;
  padding: 15px 35px 15px;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;
	}

.filter-form{
	max-width: 90%;
	min-height: 130px;
	margin: auto;
  padding: 15px 35px 15px;
  background: rgba(255,255,255,0.9);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;
	}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }


.reset-button {
	margin: 15px;
}

.button-row {
	text-align: center;
}
