html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Assistant', cursive;
  font-weight: normal;
  font-size: 15px;
  color: #333;
}

.navbar  {
  margin-top: 10px;
  margin-bottom: 5px;
  margin:0;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  z-index:999;
}

.navbar-nav {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 20px;
  font-family: 'Assistant', cursive;
  font-weight: normal;
}

.nav.navbar-nav li a {
    color: #575757;
    height: 50px;
    text-align: center;
}
.nav.navbar-nav li a:hover {
    border: 1px solid #666;
    border-radius: 25px;
    height: 50px;
}

.navbar-default .navbar-brand {
    margin-top: 5px;
    color: #575757;
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
}
.navbar-default .navbar-brand:hover {
    color: #333;
    font-family: 'Fredericka the Great', cursive;

}
