
.table-container {
  padding: 20px;

}


th {
   border: 1px black solid !important;
   text-align: center !important;
   padding: 5px !important;
}

caption {
  font-size: 150% !important;
  font-weight: bold !important;
}
